{% extends "base.html" %} {% block title %}<title>Home</title>{% endblock %} {% block content
%}
    <br>
<h1 align="center">WELCOME :)</h1>
{% if search == None %}
    <form method="POST">
      <div class="form-group">
        <label for=source>Source City/Airport Name</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
    {#      placeholder="Enter email"#}
        />
      </div>
      <div class="form-group">
        <label for=destination>Destination City/Airport Name</label>
        <input
          type="text"
          class="form-control"
          id="destination"
          name="destination"
    {#      placeholder="Enter password"#}
        />
      </div>
        <div class="form-group">
        <label for=date>Arrival/Departure Date</label>
        <input
          type="date"
          class="form-control"
          id="date"
          name="date"
          min="2022-11-27"
          max="2025-12-31"
    {#      placeholder="Enter email"#}
        />
      </div>
      <br />
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
{% else %}
    {% for e in search %}
        <div>
            {{e}}
        </div>
    {% endfor %}
{% endif %}
{% endblock %}