{% extends "base.html" %} {% block title %}<title>Purchase Flight</title>{% endblock %} {% block content
    %}
<div>
    <h1>Sold Price: {{data}}</h1>
</div>
<form method="POST" id="purchaseFlight">
    <input type="text" name="name" placeholder="name on card" required minlength="2"/>
    </br> 
    <input type="text" name="credit_number" placeholder="card number" required minlength="2"/>
    </br> 
    <input type="text" name="credit_expiration" placeholder="card expiration date" required/>
    </br> 
    <input type="text" name="card_type" placeholder="credit or debit" required/>
    </br>
    <input type="submit" value = "Purchase" />
</form>

{% endblock %}