{% extends "base.html" %} {% block title %}<title>Staff Register</title>{% endblock %} {% block content
    %}
<form method="POST" id="registerForm">
    <input type="text" name="username" placeholder="username" required/>
    </br> 
    <input type="text" name="first_name" placeholder="first name" required/>
    </br> 
    <input type="text" name="last_name" placeholder="last name" required/>
    </br> 
    <input type="text" name="date_of_birth" placeholder="date of birth" required/>
    </br> 
    <input type="text" name="airline_name" placeholder="airline name" required/>
    </br>
    <input type="password" name="password" placeholder="password" required/>
    </br> 
    <input type="submit" value = Register />
</form>

{% endblock %}