{% extends "base.html" %} {% block title %}<title>Staff Register</title>{% endblock %} {% block content
    %}

    <h4>All Airplanes Owned by {{ user.staff_airline }}</h4>
    <ul>
            {% for airplane in airplanes %}
                <li>
                <p>{{ airplane }}</p>
                </li>
            {% endfor %}
    </ul>

<form method="POST" id="registerForm">
    <input type="text" id="identification_number" name="identification_number" placeholder="identification number" required/>
    </br>
    <input type="text" id="number_of_seats" name="number_of_seats" placeholder="number of seats" required/>
    </br>
    <input type="text" id="manufacturing_company" name="manufacturing_company" placeholder="manufacturing company" required/>
    </br>
    <input type="text" id="age" name="age" placeholder="age" required/>
    </br>
    <input type="submit" value="Register"/>
</form>

{% endblock %}