{% extends "base.html" %} {% block title %}<title>Staff Register</title>{% endblock %} {% block content
    %}

    <h4>Flight Ratings</h4>
    {% if ratings %}
        <ul>
                {% for rating in ratings %}
                    <li>
                    <p>{{ rating }}</p>
                    </li>
                {% endfor %}
        </ul>
    {% endif %}
<form method="POST" id="registerForm">
    <input type="text" id="flight_number" name="flight_number" placeholder="flight number" required/>
    </br>
    <input type="submit" value="Check Rating"/>
</form>

{% endblock %}