{% extends "base.html" %} {% block title %}<title>Track Spending</title>{% endblock %} {% block content
    %}

<head>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
    <script src='trackSpending.js'></script>
</head>

<div>
    <h1>Total Spend in the last year: {{data_1}}</h1>
</div>

  <body>
    <div id="container" style="width: 50%; height: 50%"></div>
    <script type="text/javascript" src="trackSpending.js"></script>
    <script type="text/javascript">
      anychart.onDocumentReady(function() {
        // set the data
        // spending_1 = myFunc({{ month_1 | tojson }});
        var spending_1 = "{{ month_1 }}";
        var spending_2 = "{{ month_2 }}";
        var spending_3 = "{{ month_3 }}";
        var spending_4 = "{{ month_4 }}";
        var spending_5 = "{{ month_5 }}";
        var spending_6 = "{{ month_6 }}";
        spending_1 = 1500
        spending_2 = 1500
        spending_3 = 1500
        spending_4 = 1500
        spending_5 = 24200
        spending_6 = 1500
        var data = {
            header: ["Month", "Spent"],
            rows: [
              ["This Month", spending_1],
              ["Last Month", spending_2],
              ["Two Months Ago", spending_3],
              ["Three Months Ago", spending_4],
              ["Four Months Ago", spending_5],
              ["Five Months Ago", spending_6],
        ]};
        // create the chart
        var chart = anychart.bar();
        // add the data
        chart.data(data);
        // set the chart title
        chart.title("Spending in last 6 months");
        // draw
        chart.container("container");
        chart.draw();
      });
    </script>
  </body>

<form method="POST" id="trackSpending">
    <input type="text" name="start_date_range" placeholder="Start of my range" required minlength="2"/>
    </br> 
    <input type="text" name="end_date_range" placeholder="End of my range" required minlength="2"/>
    </br> 
    <input type="submit" value = "Track Spending" />
</form>


<div>
    <h2>Total Spend in the selected range: {{data_2}}</h1>
</div>

{% endblock %}