{% extends "base.html" %} {% block title %}<title>Track Spending</title>{% endblock %} {% block content
    %}

<head>
    <script src="https://cdn.anychart.com/releases/8.0.0/js/anychart-base.min.js"></script>
    <script src='trackSpending.js'></script>
</head>

<div>
    <h1>Total Spend in the last year: {{data_1}}</h1>
</div>

  <body>
    <div id="container" style="width: 50%; height: 50%"></div>
    <script>
      anychart.onDocumentReady(function() {
        // set the data
        
        // spending_1 = myFunc({{ month_1 | tojson }});
        spending_1 = 1500
        spending_2 = 1500
        spending_3 = 1500
        spending_4 = 1500
        spending_5 = 24200
        spending_6 = 1500
        var data = {
            header: ["Name", "Death toll"],
            rows: [
            //   Test to show that it auto scales for us
            //   ["This Month", 1500],
            //   ["Last Month", 87000],
            //   ["Two Months Ago", 175000],
            //   ["Three Months Ago", 10000],
            //   ["Four Months Ago", 24200],
            //   ["Five Months Ago", 25000],
              ["This Month", spending_1],
              ["Last Month", spending_2],
              ["Two Months Ago", 175000],
              ["Three Months Ago", 10000],
              ["Four Months Ago", spending_4],
              ["Five Months Ago", 25000],
        ]};
        // create the chart
        var chart = anychart.bar();
        // add the data
        chart.data(data);
        // set the chart title
        chart.title("Spending in last 6 months");
        // draw
        chart.container("container");
        chart.draw();
      });
    </script>
  </body>

<form method="POST" id="trackSpending">
    <input type="text" name="start_date_range" placeholder="Start of my range" required minlength="2"/>
    </br> 
    <input type="text" name="end_date_range" placeholder="End of my range" required minlength="2"/>
    </br> 
    <input type="submit" value = "Track Spending" />
</form>


<div>
    <h2>Total Spend in the selected range: {{data_2}}</h1>
</div>

{% endblock %}